.form-container {
  height: 50vh;
  width: 70%;
  /* background: #eee; */
  margin: 10px auto;
  /* position: relative; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  margin-bottom: 10vh;
}

.form-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5vw;
  margin-bottom: 5px;
  font-style: italic;
}

.input-box {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
  padding-left: 5px;
  width: 60vw;
  border-radius: 6px;
}

.large-text-box {
  margin-bottom: 10px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 15vh;
  width: 60vw;
  position: relative;
  /* left: 0; */
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
  border-radius: 6px;
}

.send-message {
  margin-bottom: 10px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* background-color: rgb(104, 223, 53); */
  float: right;
  margin-right: 5vw;
}
