.form-container {
  height: 65vh;
  width: 70%;
  padding-top: 5px;
  padding-bottom: 20px;
  /* background: #eee; */
  margin: 15vh auto;
  position: relative;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  /* margin-bottom: 15vh;
  margin-top: 15vh; */
  border: 0.5px solid #cdcdcd;
  border-radius: 8px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-title {
  margin-top: 5vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.form-sub-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(120, 120, 120);
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5vw;
  margin-bottom: 5px;
  font-style: italic;
}

.input-box {
  margin: 10px auto 10px auto;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  height: 5vh;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
  padding-left: 5px;
  width: 60vw;
  border-radius: 6px;
}

.input-box:focus {
  border: 1px solid rgba(81, 203, 238, 1);
}

.large-text-box:focus {
  border: 1px solid rgba(81, 203, 238, 1);
}

.large-text-box {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: 10px auto 10px auto;
  padding-top: 5px;
  padding-left: 5px;
  height: 15vh;
  width: 60vw;
  position: relative;
  /* left: 0; */
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
  border-radius: 6px;
}

.send-message {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 9px 25px;
  background-color: rgb(7, 188, 12);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  float: right;
  position: relative;
}

.send-message:hover {
  background-color: rgba(7, 188, 12, 0.8);
}

/* styling for toasts */
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: rgb(7, 188, 12);
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  /* --toastify-color-transparent: rgba(255, 255, 255, 0.7); */

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
}

@media (max-width: 600px) {
  .form-container {
    margin: 8vh auto;
  }

  .form-title {
    font-size: 24px;
  }

  .form-sub-title {
    font-size: 15px;
    max-width: 245px;
    margin: 2vh auto;
  }

  .send-message {
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-box {
    font-size: 14px;
  }

  .large-text-box {
    font-size: 14px;
  }
}
